






<p class="order" ><strong> Order Id: <%= @medorder.id%></strong></p>


<%  @meddetails.each do |d|%>
   <% if @medorder.id == d.medorder_id  %>
     <p class="order_details"><strong>Customer name: <%= d.medorder.customer.name %> <%#= d.medorder.customer.id %> </strong></p
     <% break %>
   <% end %>
<% end %>


<div class="table-container">

<table class="t-style1">
   <tr>
      <th>Product id </th>
      <th>Product name</th>
      <th>Total Quantity(items)</th>
      <th>Unit Price</th>
      <th>Total Price($)</th>
   </tr>



   <%  @meddetails.each do |d|%>
   <% if @medorder.id == d.medorder_id  %>
         <tr>
            <td><%=d.product_id %></td>
            <td><%= d.product.product_name %></td>
            <td><%= d.total_quantity %></td>
            <td><%= d.product.selling_price %></td>
            <td><%=  d.product.selling_price * d.total_quantity%></td>
            <% @price << d.product.selling_price * d.total_quantity %>
                  
      <% end %>
   <%end %>


</table>

    <%  @price.each {|price| @sum= @sum+ price } %>

<p class="order_details1"><strong>Total Bill =>  $<%= @sum %>  </strong></p





</div>







