


<div class="products_container">

<% @products.each do |product| %>
<div class="inner-container">

    <div>
      <% if product.image_filename  %>
        <%= image_tag "/images/#{product.image_filename}", width: '250px', class: 'product-image'%>
        <% end %>
    </div>
    <div>
        <strong>Name: </strong>
        <%= product.product_name %>
    </div>

    <div>
        <strong>Type: </strong>
        <%= product.product_type %>
    </div>

    <div>
        <strong>Description: </strong>
        <%= product.product_description %>
    </div>
    <div>
        <strong>Price: </strong>
      $ <%= product.selling_price %></p> 
    </div>
    <div>
        <strong>Seller's Address: </strong>
          <%  @vendor = Vendor.find(product.vendor_id) %>
       <%= @vendor.city %>, <%= @vendor.state %>, <%= @vendor.zipcode %> 
    </div>

      <%= render "buy" %>
     
 
  
     
</div>
<% end %>

</div>



 


