

<h3 class="headline ">Enter new customer details</h3>

<%= form_with  model: @customer do |f|%>

    <p style ="padding-top: 30px;"> <strong><%= f.label :name, "Enter your name" %></strong></p>
      <%= f.text_field :name %><br>
       <% @customer.errors.full_messages_for(:name).each do |message| %>
          <div><%= message %></div>
      <% end %><br>

    <p style ="padding-top: 30px;">  <strong><%= f.label :user_id, "User ID" %></strong></p>
      <%= f.number_field :user_id, in: 1..100, step: 1 %><br>
       <% @customer.errors.full_messages_for(:user_id).each do |message| %>
          <div><%= message %></div>
      <% end %>
    <p style ="padding-top: 30px;">  <strong><%= f.label :email, "Your Email" %></strong></p>
      <%= f.text_field :email %><br>
       <% @customer.errors.full_messages_for(:email).each do |message| %>
          <div><%= message %></div>
      <% end %>
    <p style=" font-size:1rem;"><strong> <%= f.submit "Register" %></strong><p>

<% end %>
   <br>

<%= button_to 'Already Registered', new_medorder_path ,method: :get, class: 'btn'%>
<br>

<%#= button_to 'Back', products_path ,method: :get, class: 'back-btn'%>
