 

<table class="customer-table">
 <tr>
   <th><strong>Customer Name: </strong></th>
   <th><strong>Customer Email: </strong></th>
</tr>
<tr>
  <td><%= @customer.name %></td>
  <td><%=  @customer.email %> </td>
</tr>


</table>
 
<div> 










<%#= link_to 'Place order', medorders_path%>








<%if current_user.id == @customer.user_id %>


<%= button_to 'Edit information',   edit_customer_path, method: :get, class: "btn2" %>
<%= button_to 'Back',   new_customer_path, method: :get, class: "btn2" %>

 <ul> 
 <li><%= button_to "Delete", @customer,
                   method: :delete ,
                   class: "btn2",
                  data: { confirm: "Are you sure?" } %> </li>
</ul> 

<%end %>